---
layout: default
---
{% capture about %}{% include about.md %}{% endcapture %}
{% capture projects %}{% include projects.md %}{% endcapture %}
{% capture publicaitons %}{% include publications.md %}{% endcapture %}
{% capture photos %}{% include photos.md %}{% endcapture %}

{{ about | markdownify }}

<ul>
  {% assign posts = (site.posts | where: "layout" , "post") %}
  {% for post in posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

{% comment %}
{{ photos | markdownify }}

<ul>
  {% assign galleries = (site.posts | where: "layout" , "photos") %}
  {% for post in galleries %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
{% endcomment %}


{{ projects | markdownify }}

{{ publicaitons | markdownify }}
